[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
chardet = "==4.0.0"
idna = "==2.10"
requests = "==2.25.1"
urllib3 = "==1.26.4"
django-simple-captcha = "~=0.5.14"
django-debug-toolbar = "~=3.2"
djangorestframework = "~=3.12.4"
Django = "~=3.2"
pytelegrambotapi = "*"
bs4 = "*"
kinopoiskpy = "*"
google-search = "*"

[dev-packages]

[requires]
python_version = "3.9"
